/**reseteo**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/**fuentes**/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:wght@200;400&family=Work+Sans:wght@300&display=swap');

/*-------FONDO DE BODY--------- */

body {
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005));
    background-position: right top;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

/* COMIENZO GRID/CONTAINER*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
}


/**--------HEADER/NAV  (index)--------**/
.header-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #11324d9c; */
    grid-area: header;
}

/**---MENU NAVEGABLE HERO----**/


.hero-section img {
    float: center;
    margin: 0.16em 0 0.16em 0;
    width: 24em;
    height: 24em;

}

.hero-section img:hover {
    transform: scale(1.1);

}


.header-hero nav ul li a {
    text-decoration: none;
    color: #ffffffde;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-shadow: -3px 3px 2px rgba(115, 157, 186, 0.655);

}

.header-hero nav ul li a:hover {
    color: #b758eec7;
    font-size: 2.7em;
    text-shadow: -3px 2px 3px white;
    transition: 1s;
}



/**----COMIENZA HERO(index)----**/
.hero-section {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005)), url("../multimedia/fondo-floral-azul.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* grid-area: main; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/**---MAIN-TEXTO PRINCIPAL-index----**/
.hero-section div {
    margin: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-section p {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    color: #2d99ba;
    text-shadow: -3px 3px 3px rgba(211, 203, 190, 0.908);
    text-align: center;
    animation-name: entradaTextoPrincipal;
    animation-duration: 5s;
}

/* MAIN-INDEX- seccion-mapa */
.main .seccion-mapa {
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: main;
    background-color: rgba(99, 128, 146, 0.12);
    margin: 3em 0;
    flex-wrap: wrap;
}

.seccion-mapa iframe {
    margin: 2em;
}

.seccion-mapa div div {
    width: 70em;
}

.seccion-mapa div h1 {
    color: rgba(0, 0, 0, 0.754);
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


/* SECCION DE SUBSCRIPCION DENTRO DE MAIN POSICIONADO SOBRE FOOTER */

.main {
    grid-area: main;
}

.main-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(115, 166, 191, 0.743);
}

.main-form h2,
p {
    color: rgba(0, 0, 0, 0.754);
    font-size: 2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


/**----COMIENZA FOOTER----**/
.footer {
    grid-area: footer;
    background-color: #54738c2a;
    bottom: 0;
}

.footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer .logo img {
    margin: 1, 5em 6em;
}

.footer .logo h3 {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    color: #1d5c63e9;
    margin-left: 27%;
}

.footer .redes-sociales a img {
    width: 3.8em;
    margin: 1em;
    transition: 1s;
}


.footer .redes-sociales img:hover {
    transform: scale(1.1);
}

.footer .contacto div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
}

.footer .contacto div img {
    float: left;
    width: 2.7em;
    margin-right: 5%;

}

.footer .contacto h4,
h5 {
    font-size: 1.7em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}


/**-----HEADER-NO-INDEX-------**/
.header {
    grid-area: header;
    background-color: #54738c2a;
    flex-wrap: wrap;
}

.logo a h1 {
    margin: 1em;
    text-decoration: none;
}


.header nav ul li {
    margin: 2em;
}

.header nav ul li a {
    text-decoration: none;
    color: #7698b5;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-shadow: -2px -2px 3px white;

}

.header nav ul li a:hover {
    color: #b758ee;
    font-size: 3.2em;
    text-shadow: 3px 3px 3px white;
    transition: 1s;
}

/**----TITULO DE SECCION PRINCIPAL EN MAIN NO INDEX----**/
.main .titulo-seccion {
    /* display: flex; */
    text-align: center;
    align-items: center;
}

.titulo-seccion h1 {
    font-weight: bold;
    background-color: #3b939dd4;
    color: #ffffffd4;
    font-size: 4.3em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-shadow: -2px 2px 3px rgba(255, 255, 255, 0.831);

}


/**----comienza pages/CONTACTO-----**/

/**----comienza MAIN pages/CONTACTO-----**/
.main-contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.318), rgba(0, 0, 0, 0.318)), url("../multimedia/fondo-contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

}

.main-contacto div {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: center;
}

.form-contacto div {
    width: 90%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(159, 159, 159, 0.413);
}

.form-contacto div div {
    flex-direction: row;
    text-align: center;
    align-items: center;
}


.form-contacto input:focus {
    width: 1em;
    font-size: 2.2em;
}

.form-contacto p {
    text-align: center;
    color: #f6f4f1cb;
    font-size: 2em;
    font-weight: bolt;
    font-family: "Nunito", sans-serif;
    text-shadow: -2px 1px 3px #08332abc;
}

.form-contacto h2 {
    margin-bottom: 5px;
    text-align: center;
    color: #f7e9d7cb;
    font-size: 2.3em;
    font-weight: bolt;
    font-family: "Nunito", sans-serif;
    text-shadow: -2px 2px 2px #94d5f3bc;
}

/**-- SECCION CON INFORMACION DE CONTACTO EN MAIN-CONTACTO--**/

.main-contacto .datos-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}

.main-contacto .datos-contacto h3 {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243, 230, 206);
    text-shadow: -1px 2px 2px #154146b0;
}

.main-contacto .datos-contacto a {
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243, 230, 206);

}


/**---COMIENZA pages EL-JARDIN----**/
/**-----COMIENZA MAIN-EL-JARDIN-----**/
.main-el-jardin {
    grid-area: main;
    background: linear-gradient(rgba(0, 0, 0, 0.055), rgba(0, 0, 0, 0.055)), url("../multimedia/fondo-el-jardin.jpg");
    background-size: contain;
    background-attachment: fixed;
}

/**---comienza atajos-el-jardin---**/
.atajos-el-jardin {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.atajos-el-jardin div {
    width: 20em;
    height: 23em;
    margin: 1.9em 0 1.9em 0;
    background-color: #a6a6a674;
    padding: 1em;
    border-radius: 1.5em;
    text-align: center;

}

.atajos-el-jardin div a img {
    margin: 1em;
    width: 11em;
    height: 11em;
    align-items: center;
}

.atajos-el-jardin div:hover {
    transform: scale(1.1);
    transition: 1s;
}

.atajos-el-jardin div a {
    text-decoration: none;
}

.atajos-el-jardin a p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.826);
    text-shadow: 3px 2px 3px #e39b308a;
}


/**--COMIENZA CLASS PRODUCTOS (el-jardin)--**/
.productos {
    margin: 1em;
    background: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.103));

}

.productos h2 {
    text-align: center;
    font-size: 2.8em;
    margin: 2em 0 2em 0;
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.823);
    text-shadow: 3px 2px 3px #e7a64692;
}


.productos div {
    height: 30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.productos div img {
    width: 25em;
    height: 30em;
    border-radius: 1.5em;
    transition: 1s;

}

.productos div img:hover {
    transform: scale(1.1);
    border-color: #1d5c639e;

}

.productos a {
    text-decoration: none;
    background-color: #56748c;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    margin: 2em 0 20px 0;
}

/* COMIENZA pages/TALLERES */
/* COMIENZA MAIN/TALLERES */
.main-talleres {
    background: linear-gradient(rgba(141, 140, 140, 0.105), rgba(141, 140, 140, 0.105)), url("../multimedia/fondo-talleres.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: main;
}

/* COMIENZA SECCION TALLERES */
.talleres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.talleres div {
    margin: 3em 0;
    width: 35em;
    height: 35em;
    border-radius: 15px;
    border-color: #22445f;
    box-shadow: -4px 2px 5px -3px black;
}

.talleres div a {
    margin: 2em 0.5em;
    padding: 1em;

}

.talleres div a h2 {
    text-align: center;
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
    color: #f7e9d7e6;
}

.talleres div a h2:hover {
    transform: scale(1.1);
    transition: 1s;
}

.talleres div:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url("../multimedia/images/taller-macrame.jpg");
    background-size: cover;
}

.talleres div:nth-child(2) {

    background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("../multimedia/images/taller-hidroponia.jpg");
    background-size: cover;

}

.talleres div:nth-child(3) {

    background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("../multimedia/images/taller-huerta.jpeg");
    background-size: cover;
}

/* COMIENZA SECCION VIDEOS-TALLERES */
.videos-talleres {
    margin: 0.5em;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.videos-talleres p {
    width: 50%;
    height: 25%;
    margin: 1em;
    padding: 1em;

    background-color: #3e8c8faf;
    font-size: 2.4em;
    color: rgb(226, 218, 182);
    font-weight: bolt;
    font-family: 'Work Sans', sans-serif;
    border-radius: 15px;
    text-align: center;

}

/* COMIENZA SECCION TALLERES PRESENCIALES + TABLA DE CRONOGRAMA */
.talleres-presenciales {
    margin-bottom: 4em;
    font-family: monospace;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.talleres-presenciales h2 {
    font-family: monospace;
    font-size: 3em;
}

/* TABLA CRONOGRAMA TALLERES PRESENCIALES */

.talleres-presenciales th {
    
    font-size: 2em;
}

.talleres-presenciales td {
    
    font-size: 1.8em;
}

.talleres-presenciales table {
    margin: 4em 0 4em 0;
    border-color: lightseagreen;
    border-style: solid;
    border-collapse: collapse;
    empty-cells: show;
    table-layout: fixed;
    width: 60%;
    background: rgba(255, 255, 255, 0.673);
}


.talleres-presenciales .estilo-tabla {
    border-color: lightseagreen;
    border-style: solid;
    empty-cells: show;
    border-width: 0.3em;

}

/* COMIENZA TIENDA */


/* COMIENZA MAIN/TIENDA */
.main-tienda {
    background: linear-gradient(rgba(208, 207, 207, 0.467), rgba(208, 207, 207, 0.467)), url("../multimedia/fondo-flores-en-frascos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-tienda {
    width: 100%;
}

/* COMIENZA SECCION "NUESTROS DESTACADOS"(tienda.html) */

.nuestros-destacados {
    margin: 0.8em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nuestros-destacados>div {
    /* margin: 20px 0 20px 0; */
    width: 33em;
    height: 42em;
    border-radius: 1, 5em;
    box-shadow: 0 0 0.5em -0.2em black;
    padding: 1em;

}

.nuestros-destacados h2 {
    color: rgba(247, 233, 215, 0.919);
    font-size: 4.5em;
    font-weight: bolt;
    font-family: 'Nunito', sans-serif;
    text-shadow: -2px 2px 2px #22445f;
    text-align: center;
    background-repeat: no-repeat;
}


.nuestros-destacados p {
    color: #eaedef;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -2px 2px 2px #113539;
}

.nuestros-destacados div:nth-child(2) {

    background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url("../multimedia/images/regalos-unicos.jpg");
    background-size: cover;
}

.nuestros-destacados div:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("../multimedia/images/suscripciones-mensuales.jpeg");
    background-size: cover;

}

.nuestros-destacados div:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("../multimedia/images/productos-naturales.jpg");
    background-size: cover;

}

/* COMIENZA SECCION NOVEDADES (tienda.html) */
.novedades {
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.novedades div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.novedades div img {
    margin: 1em;
    width: 25em;
    height: 30em;
    border-radius: 1.5em;
    transition: 1s;
}

.novedades div img:hover {
    transform: scale(1.1);

}

.novedades h3 {
    margin: 1em;
    color: #eaedef;
    font-size: 4em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -3px 3px 3px #b758ee;
}

/* -------ANIMACIONES-------- */
@keyframes entradaTextoPrincipal {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* --------MEDIA QUERIES-------- */

/* media queries para desktop grande- 1200px */
@media screen and (max-width: 1200px) {

    /* ---INDEX ----*/
    .header-hero p {
        font-size: 3em;
    }

    .header-hero nav ul li a {
        font-size: 2.2em;

    }

    .header-hero nav ul li a:hover {
        font-size: 2.5em;
    }

    /* ----TIENDA----- */

    .nuestros-destacados>div {
        margin: 10px;
        width: 25em;
        height: 38em;
    }

    .nuestros-destacados h2 {

        font-size: 2.4em;
    }

    .nuestros-destacados p {
        font-size: 2em;
    }

    .novedades div img {
        width: 20em;
        height: 26em;
    }

    .novedades h4 {
        font-size: 2.8em;
    }

    /*---- TALLERES--- */
    .videos-talleres p {
        width: 70%;
        height: 25%;
    }

    .talleres-presenciales th {
        font-family: 'Nunito', sans-serif;
        font-size: 1.6em;
    }

    .talleres-presenciales td {
        font-family: 'Nunito', sans-serif;
        font-size: 1.4em;
    }

    .talleres-presenciales table {
        margin: 4em 0 4em 0;
        border-color: lightseagreen;
        border-style: solid;
        border-collapse: collapse;
        empty-cells: show;
        table-layout: fixed;
        width: 80%;
    }

    /* ----FOOTER---- */
    .footer .logo img {
        width: 13em;
    }

    .footer .logo h3 {
        font-size: 1.8em;
    }

    /* EL JARDIN */
    .productos div img {
        width: 20em;
        height: 25em;
    }

    .productos a {
        font-size: 2em;
    }

}


/* Media Queryes para Desktop - 992px */
@media screen and (max-width: 990px) {

    /* MAIN */
    .main-form h2,
    p {
        font-size: 1.7em;
    }

    .footer .logo img {
        margin: 1, 5em 6em;
        width: 15em;
    }

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        margin: 1em;
        font-size: 3em;

    }

    /* MENU NAVEGABLE NO INDEX */
    .header nav ul li a {
        font-size: 1.7em;

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: 2em;
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 12em;
        height: 12em;
    }

    /* index */
    .seccion-mapa div div {
        width: 50em;
    }

    .seccion-mapa div h1 {
        font-size: 1.3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .hero-section p {
        font-size: 2em;
    }


    /* ----TIENDA----- */

    .nuestros-destacados>div {
        width: 18em;
        height: 30em;
    }

    .nuestros-destacados h2 {
        font-size: 2em;
    }

    .nuestros-destacados p {
        font-size: 1.5em;
    }

    .novedades div img {
        width: 18em;
        height: 24em;
    }

    .novedades h4 {
        font-size: 2.5em;
    }

    /* ---CONTACTO---- */

    .form-contacto #form {
        width: 40em;
    }

    .main-contacto section .datos-contacto a {
        text-decoration: none;
        font-size: 1.6em;
    }

    /* EL JARDIN */
    .productos div img {
        width: 16em;
    }

    .productos a {
        font-size: 1.8em;
    }
}

/* Media queryes intermedio-(tablets) 768px */
@media screen and (max-width: 768px) {

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        font-size: 2.5em;
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: 1.8em;

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: 2em;
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 10em;
        height: 10em;
    }

    /* main-contacto */

    .form-contacto input:focus {
        width: 18em;
        font-size: 2em;
    }

    .form-contacto p {
        font-size: 1.8em;
    }

    .form-contacto h3 {

        font-size: 1.em;
    }

    /* ---INDEX ----*/
    .header-hero p {
        font-size: 2.8em;
    }

    .header-hero nav ul li a {
        font-size: 1.8em;

    }

    .header-hero nav ul li a:hover {
        font-size: 2em;
    }

    /* EL JARDIN */
    .atajos-el-jardin div {
        width: 18em;
        height: 20em;

    }

    .atajos-el-jardin div a img {
        margin: 1em;
        width: 9em;
        height: 9em;
    }

    /* ---TALLERES--- */
    .talleres div {
        width: 30em;
        height: 30em;
    }


    .talleres div a h2 {
        text-align: center;
        font-size: 2em;
    }

    .videos-talleres p {
        width: 70%;
        height: 25%;
    }
}

/* Media Queryes para telefonos */
@media screen and (max-width: 576px) {

    /* EL JARDIN */
    .productos div img {
        width: 12em;
    }

    .productos a {
        font-size: 1.4em;
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: 1.5em;

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: 1.8em;
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 9em;
        height: 9em;
    }

    /* ----TIENDA----- */

    .nuestros-destacados>div {
        width: 15em;
        height: 28em;
    }

    .nuestros-destacados h2 {
        font-size: 1.8em;
    }

}