@import './base/_root.scss';
@import './base/variables';
@import './components/listas';
@import './components/mediaQuery';
@import './components/producto';
@import './layout/footer';
@import './layout/grid';
@import './layout/header';
@import './layout/main';




body {
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005));
    background-position: right top;
    background-repeat: repeat-x;
    background-attachment: fixed;
}


