@import "../base/variables";
@import "../base/mapas";

/**----COMIENZA FOOTER----**/
.footer {
    grid-area: footer;
    background-color: $color-claro;
    bottom: 0;

    div {
       @extend %flex;

        .logo img {
            margin: 1, 5em 6em;

            h3 {
                text-decoration: none;
                font-size: nth($list: $font-size, $n: 2);
                font-weight: bold;
                font-family: nth($list: $font-family, $n: 4);
                color: $color-claro;
                margin-left: 27%;
            }
        }

        .redes-sociales a img {
            width: 3.5em;
            margin: 1em;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .contacto div {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 0.5em;

            img {
                float: left;
                width: 2.5em;
                margin-right: 5%;

                h4,
                h5 {
                    font-size: nth($list: $font-size, $n: 2);
                    font-family: nth($list: $font-family, $n: 4);
                    text-align: center;
                }
            }
        }
    }
}