
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
}

.grid-container-cards{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2.5em;

}
