@import "../base/variables";
@import "../base/mapas";

/**-----HEADER-NO-INDEX-------**/

header {
    grid-area: header;
    background-color: $color-claro;
    @extend %flex;
    

    nav ul {
        list-style: none;
        border-radius: 2em;
        margin-right: 2em;
        @extend %flex;

        li {
            margin: 2em;

            a {
                text-decoration: none;
                color: $color-oscuro;
                font-size: nth($list: $font-size, $n: 5 );
                font-weight: bold;
                font-family: nth($list: $font-family, $n: 1);
                text-shadow: -3px 2px 3px $color-claro;

                &:hover {
                    color: $color-muy-oscuro;
                    font-size: nth($list: $font-size, $n: 6 );
                    text-shadow: 3px 3px 3px $color-claro;
                    transition: 1s;
                }
            }
        }
    }

}

/**--------HEADER/NAV  (index)--------**/
.header-hero {
    flex-direction: column;
    @extend %flex;
    grid-area: header;
    background-color: $color-claro;
    .logo a h1 {
        margin: 1em;
        text-decoration: none;
    }

    nav {
        margin: 0.4em 0.1em 0.4em 0.1em;
        padding: 0.4em;
        width: 100%;
        border-radius: 2em;

        ul {
            margin: 1em;
            @extend %flex;
 
            li a {
                text-decoration: none;
                
                font-size: nth($list: $font-size, $n: 4 );
                font-weight: bold;
                font-family: nth($list: $font-family, $n: 1);
                text-shadow: -3px 2px 3px $color-tres;

                &:hover {
                    color: $color-muy-oscuro;
                    font-size: nth($list: $font-size, $n: 5 );
                    text-shadow: -3px 2px 3px $color-claro;
                    transition: 1s;
                }
            }
        }
    }
}