/**-----HEADER-NO-INDEX-------**/

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: nth($list: $colors, $n: 26);
    flex-wrap: wrap;

    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        background-color: nth($list: $colors, $n: 13);
        border-radius: 2em;
        margin-right: 2em;
        flex-wrap: wrap;

        li {
            margin: 2em;

            a {
                text-decoration: none;
                color: nth($list: $colors, $n: 14) ;
                font-size: nth($list: $font-size, $n: 5 );
                font-weight: bold;
                font-family: nth($list: $font-family, $n: 2);
                text-shadow: 3px 3px 3px white;

                &:hover {
                    color: nth($list: $colors, $n: 4);
                    font-size: nth($list: $font-size, $n: 6 );
                    text-shadow: 3px 3px 3px white;
                    transition: 1s;
                }
            }
        }
    }

}

/**--------HEADER/NAV  (index)--------**/
header-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #11324d9c; */
    grid-area: header;

    nav {
        margin: 0.4em 0.1em 0.4em 0.1em;
        padding: 0.4em;
        width: 100%;
        background-color: nth($list: $colors, $n: 1);
        border-radius: 2em;

        ul {
            margin: 1em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            li a {
                text-decoration: none;
                color: nth($list: $colors, $n: 2);
                font-size: nth($list: $font-size, $n:10 );
                font-weight: bold;
                font-family: nth($list: $font-family, $n: 2);
                text-shadow: -3px 2px 2px rgba(115, 157, 186, 0.655);

                &:hover {
                    color: nth($list: $colors, $n: 4);
                    font-size: nth($list: $font-size, $n: 4 );
                    text-shadow: -3px 2px 3px white;
                    transition: 1s;
                }
            }
        }
    }
}