@import "../base/variables";
@import "../base/mapas";


main {
    grid-area: main;
}

/**---MAIN-TEXTO PRINCIPAL-index----**/
.hero-section {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005)), url("https://i.ibb.co/Y2C9XH2/fondo-floral-azul.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    div {
        margin: 1em;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: nth($list: $font-size, $n: 6);
            font-family: nth($list: $font-family, $n: 1);
            color: $color-muy-oscuro;
            text-shadow: -3px 3px 3px $color-tres;
            text-align: center;
            animation-name: entradaTextoPrincipal;
            animation-duration: 5s;
        }

    }
}

//  seccion-mapa-index //
.seccion-mapa {

    justify-content: row;
    @extend %flex;
    grid-area: main;
    background-color: $color-uno;
    margin: 3em 0;


    iframe {
        margin: 2em;

        div div {
            width: 70em;

            div p {
                color: black;
                font-size: nth($list: $font-size, $n: 2);
                font-family: nth($list: $font-family, $n: 2);
                text-align: center;
            }
        }
    }
}

.main-form div {
    flex-direction: row;
    background-color: $color-tres;
    @extend %flex;

    h2,
    p {
        color: black;
        font-size: nth($list: $font-size, $n: 2);
        font-weight: map-get($map: $titulo-principal, $key: font-weight);
        font-family: nth($list: $font-family, $n: 1);
        text-align: map-get($map: $titulo-principal, $key: text-align);
    }
}




/**-----COMIENZA MAIN-EL-JARDIN-----**/
.main-el-jardin {
    grid-area: main;
    background: linear-gradient(rgba(0, 0, 0, 0.055), rgba(0, 0, 0, 0.055)), url("https://i.ibb.co/7Sfk5N7/fondo-el-jardin.jpg");
    background-size: contain;
    background-attachment: fixed;

    /**----TITULO DE SECCION PRINCIPAL EN MAIN NO INDEX----**/
    .titulo-seccion {
        text-align: center;
        align-items: center;
        

        h1 {
            font-weight: bold;
            background-color: map-get($map: $titulo-principal, $key: bg-color);
            color: map-get($map: $titulo-principal, $key: color);
            font-size: nth($list: $font-size, $n: 7);
            font-family: nth($list: $font-family, $n: 3);
            text-align: map-get($map: $titulo-principal, $key: text-align);
            text-shadow: map-get($map: $titulo-principal, $key: text-shadow);

        }
    }

    /**---comienza atajos-el-jardin---**/
    .atajos-el-jardin {
        margin: 1em;
        @extend %flex;

        div {
            width: 20em;
            height: 20em;
            margin: 1.9em 0 1.9em 0;
            background-color: #a6a6a664;
            padding: 1em;
            border-radius: 1.5em;
            text-align: center;
            flex-wrap: wrap;

            a {
                text-decoration: none;

                p {
                    font-size: nth($list: $font-size, $n: 3);
                    font-weight: bold;
                    font-family: nth($list: $font-family, $n: 3);
                    color: black;
                    text-shadow: -3px 2px 2px $color-tres;

                }

                img {
                    margin: 1em;
                    width: 9em;
                    height: 9em;
                    align-items: center;

                    &:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
            }
        }
    }
}

/* COMIENZA MAIN/TALLERES */
.main-talleres {
    background: linear-gradient(rgba(141, 140, 140, 0.105), rgba(141, 140, 140, 0.105)), url("https://i.ibb.co/ggNYPWd/fondo-talleres.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: main;

    /**----TITULO DE SECCION PRINCIPAL EN MAIN NO INDEX----**/
    .titulo-seccion {
        text-align: center;
        align-items: center;

        h1 {
            font-weight: bold;
            background-color: map-get($map: $titulo-principal, $key: bg-color);
            color: map-get($map: $titulo-principal, $key: color);
            font-size: nth($list: $font-size, $n: 7);
            font-family: nth($list: $font-family, $n: 3);
            text-align: map-get($map: $titulo-principal, $key: text-align);
            text-shadow: map-get($map: $titulo-principal, $key: text-shadow);

        }
    }

    .talleres {
        flex-direction: row;
        @extend %flex;

        div {
            margin: 3em 0;
            width: 28em;
            height: 28em;
            border-radius: 15px;
            border-color: $color-muy-oscuro;
            box-shadow: -4px 2px 5px -3px black;

            a {
                margin: 2em 0.5em;
                padding: 1em;

                h2 {
                    text-align: center;
                    font-size: nth($list: $font-size, $n: 4);
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $color-claro;
                    text-decoration: none;

                    &:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
            }

            &:nth-child(1) {
                background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url("https://i.ibb.co/MDKh9W7/taller-macrame.jpg");
                background-size: cover;
            }

            &:nth-child(2) {

                background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("https://i.ibb.co/WpvTWbB/taller-hidroponia.jpg");
                background-size: cover;

            }

            &:nth-child(3) {

                background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("https://i.ibb.co/hWk2k0p/taller-huerta.jpg");
                background-size: cover;
            }

        }

    }

    /* COMIENZA SECCION VIDEOS-TALLERES */
    .videos-talleres div div{
        margin: 0.5em;
        

        p {
            
            margin: 1em;
            padding: 0.5em;

            background-color: $color-cuatro;
            font-size: nth($list: $font-size, $n: 5);
            color: $color-muy-claro;
            font-weight: bolt;
            font-family: nth($list: $font-family, $n: 3);
            border-radius: 15px;
            text-align: center;

        }

    }

    /* COMIENZA SECCION TALLERES PRESENCIALES + TABLA DE CRONOGRAMA */
    .talleres-presenciales {
        margin-bottom: 4em;
        flex-direction: row;
        @extend %flex;

        h2 {
            font-family: nth($list: $font-family, $n: 2);
            font-size: nth($list: $font-size, $n: 2);

        }

        /* TABLA CRONOGRAMA TALLERES PRESENCIALES */
        th {
            font-size: nth($list: $font-size, $n: 1);
        }

        td {
            font-size: nth($list: $font-size, $n: 2);
        }

        table {
            margin: 4em 0 4em 0;
            border-color: $color-oscuro;
            border-style: solid;
            border-collapse: collapse;
            empty-cells: show;
            table-layout: fixed;
            width: 70%;
            background: $color-muy-claro;
        }

    }


}

/* COMIENZA MAIN/TIENDA */
.main-tienda {
    background: linear-gradient(rgba(208, 207, 207, 0.467), rgba(208, 207, 207, 0.467)), url("https://i.ibb.co/NWQtCMY/fondo-flores-en-frascos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

    /**----TITULO DE SECCION PRINCIPAL EN MAIN NO INDEX----**/
    .titulo-seccion {
        text-align: center;
        align-items: center;

        h1 {
            font-weight: bold;
            background-color: map-get($map: $titulo-principal, $key: bg-color);
            color: map-get($map: $titulo-principal, $key: color);
            font-size: nth($list: $font-size, $n: 7);
            font-family: nth($list: $font-family, $n: 3);
            text-align: map-get($map: $titulo-principal, $key: text-align);
            text-shadow: map-get($map: $titulo-principal, $key: text-shadow);

        }
    }

    /* COMIENZA SECCION "NUESTROS DESTACADOS"(tienda.html) */

    .nuestros-destacados {
        margin: 2em;
        padding: 1em;
        
        h2 {
            color: $color-uno;
            font-size: nth($list: $font-size, $n: 6);
            font-weight: bolt;
            font-family: nth($list: $font-size, $n: 2);
            text-shadow: -2px 2px 2px $color-muy-oscuro;
            text-align: center;
            background-repeat: no-repeat;
        }

        .nuestros-destacados div{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            // flex-direction: row;
            nues
            .card img {
                width: 100%;
                height: 18em;
                // height: 15em;
                
            }

            .card-title h2 {
                color: $color-oscuro;
                font-size: nth($list: $font-size, $n: 3);
                font-family: nth($list: $font-family, $n: 4);
                text-shadow: -2px 2px 2px $color-tres;
                border-radius: 1, 5em;
                box-shadow: 0 0 0.5em -0.2em black;
                margin: 2em;
            }


            // &:nth-child(1) {

            //     background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url("https://i.ibb.co/Sczzn4T/regalos-unicos.jpg");
            //     background-size: cover;
            // }

            // &:nth-child(2) {
            //     background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("https://i.ibb.co/fCZj39d/suscripciones-mensuales.jpg");
            //     background-size: cover;

            // }

            // &:nth-child(3) {
            //     background: linear-gradient(rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.225)), url("https://i.ibb.co/dGFcct2/productos-naturales.jpg");
            //     background-size: cover;

            // }
        }



    }


    /* COMIENZA SECCION NOVEDADES (tienda.html) */
    .novedades {
        margin: 2em;
        padding: 1em;
        flex-direction: column;
        @extend %flex;
        h2 {
            margin: 1em;
            color: $color-uno;
            font-size: nth($list: $font-size, $n: 6);
            font-family: nth($list: $font-family, $n: 2);
            text-align: center;
            text-transform: uppercase;
            text-shadow: -3px 3px 3px $color-oscuro;
        }

        div {
            @extend %flex;

            img {
                margin: 1em;
                width: 18em;
                height: 20em;
                border-radius: 1.5em;
                transition: 1s;

                :hover {
                    transform: scale(1.1);

                }
            }

            
        }

    }
}


/**----comienza MAIN pages/CONTACTO-----**/
.main-contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.318), rgba(0, 0, 0, 0.318)), url("https://i.ibb.co/ZxDJFfg/fondo-contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: main;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    /**----TITULO DE SECCION PRINCIPAL EN MAIN NO INDEX----**/
    .titulo-seccion {
        text-align: center;
        align-items: center;

        h1 {
            font-weight: bold;
            background-color: map-get($map: $titulo-principal, $key: bg-color);
            color: map-get($map: $titulo-principal, $key: color);
            font-size: nth($list: $font-size, $n: 7);
            font-family: nth($list: $font-family, $n: 3);
            text-align: map-get($map: $titulo-principal, $key: text-align);
            text-shadow: map-get($map: $titulo-principal, $key: text-shadow);

        }
    }

    div {
        flex-direction: column;
        @extend %flex;
    }

    .form-contacto div {
        width: 80%;
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(159, 159, 159, 0.413);

        div {
            width: 60%;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
        }

        input:focus {
            width: 1em;
            font-size: nth($list: $font-size, $n: 3);
        }

        p {
            text-align: center;
            color: #f6f4f1cb;
            font-size: nth($list: $font-size, $n: 4);
            font-weight: bolt;
            font-family: nth($list: $font-family, $n: 1);
            text-shadow: -2px 1px 3px $color-muy-oscuro;
        }

        h2 {
            margin-bottom: 5px;
            text-align: center;
            color: $color-uno;
            font-size: nth($list: $font-size, $n: 2);
            font-weight: bolt;
            font-family: nth($list: $font-family, $n: 3);
            text-shadow: -2px 2px 2px $color-tres;
        }
    }

    /**-- SECCION CON INFORMACION DE CONTACTO EN MAIN-CONTACTO--**/

    .datos-contacto {
        flex-direction: column;
        text-decoration: none;
        @extend %flex;

        h3 {
            text-decoration: none;
            font-size: nth($list: $font-size, $n: 2);
            font-weight: bold;
            font-family: nth($list: $font-family, $n: 3);
            color: $color-uno;
            text-shadow: -1px 2px 2px $color-oscuro;
        }

        a {
            text-decoration: none;
            font-size: nth($list: $font-family, $n: 1);
            font-weight: bold;
            font-family: nth($list: $font-family, $n: 3);
            color: $color-uno;

        }
    }

}