/* --------MEDIA QUERIES-------- */

/* media queries para desktop grande- 1200px */
@media screen and (max-width: 1200px) {

    /* ---INDEX ----*/
    .hero-section h1 {
        font-size: nth($list: $font-size, $n: 3);
    }

    .header-hero nav ul li a {
        font-size: nth($list: $font-size, $n: 3);

    }

    .header-hero nav ul li a:hover {
        font-size: nth($list: $font-size, $n: 4);
    }

    /*----MAPA INDEX-----*/
    .seccion-mapa div div {
        width: 30em;
    }

    .seccion-mapa div p {
        font-size: nth($list: $font-size, $n: 1);

    }

    /* ----TIENDA----- */

    .nuestros-destacados>div {
        width: 20em;
        height: 20em;
    }

    .nuestros-destacados h2 {

        font-size: nth($list: $font-size, $n: 4);
    }

    .nuestros-destacados p {
        font-size: nth($list: $font-size, $n: 3);
    }

    .novedades div img {
        width: 15em;
        height: 18em;
    }

    .novedades h3 {
        font-size: nth($list: $font-size, $n: 4);
    }

    /*---- TALLERES--- */
    .main-talleres .talleres div {
        width: 24em;
        height: 24em;
    }
    .main-talleres .videos-talleres p {
        margin: 0.5em;
        width: 90%;
        height: 40%;
        font-size: nth($list: $font-size, $n: 2);
    }

    .talleres-presenciales table {
        width: 50%;
    }

    /* ----FOOTER---- */
    .footer .logo img {
        width: 13em;
    }

    .footer .logo h3 {
        font-size: 1.8em;
    }

    /* EL JARDIN */
    .productos div img {
        width: 20em;
        height: 25em;
    }

    .productos a {
        font-size: 2em;
    }

}


/* Media Queryes para Desktop - 992px */
@media screen and (max-width: 990px) {

    /* MAIN */
    .main-form h2,
    p {
        font-size: 1.7em;
    }

    .footer .logo img {
        margin: 1, 5em 6em;
        width: 15em;
    }

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        margin: 1em;
        font-size: nth($list: $font-family, $n: 4);

    }

    /* MENU NAVEGABLE NO INDEX */
    .header nav ul li a {
        font-size: nth($list: $font-size, $n: 2);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-size, $n: 3);
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 12em;
        height: 12em;
    }

    /* index */
    .seccion-mapa div div {
        width: 20em;
    }

    .hero-section p {
        font-size: nth($list: $font-size, $n: 2);
    }


    /* ----TIENDA----- */

    .nuestros-destacados>div {
        width: 18em;
        height: 18em;
    }

    .nuestros-destacados h2 {
        font-size: nth($list: $font-size, $n: 2);
    }

    .nuestros-destacados p {
        font-size: nth($list: $font-size, $n: 2);
    }

    .novedades div img {
        width: 1em;
        height: 24em;
    }

    .novedades h3 {
        font-size: nth($list: $font-size, $n: 2);
    }

    /* ---CONTACTO---- */

    .form-contacto #form {
        width: 80%;
    }

    .form-contacto div div {
        width: 70%;
    }

    .main-contacto section .datos-contacto a {
        text-decoration: none;
        font-size: nth($list: $font-size, $n: 1);
    }

    /* EL JARDIN */
    .productos div {
        height: 12em;
    }

    .productos div img {
        width: 10em;
        height: 10em;
    }

    .productos h2 {
        font-size: nth($list: $font-size, $n: 2);
    }

    .productos a {
        font-size: nth($list: $font-size, $n: 2);
    }
    /*---- TALLERES--- */
    .main-talleres .talleres div {
        width: 18em;
        height: 18em;
    }
}

/* Media queryes intermedio-(tablets) 768px */
@media screen and (max-width: 768px) {

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        margin: 1em;
        font-size: nth($list: $font-family, $n: 2);
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: nth($list: $font-family, $n: 1);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-family, $n: 2);
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 10em;
        height: 10em;
    }

    /* main-contacto */

    .form-contacto input:focus {
        font-size: nth($list: $font-size, $n: 2);
    }

    .form-contacto p {
        font-size: nth($list: $font-size, $n: 3);
    }

    .form-contacto h2 {

        font-size: nth($list: $font-size, $n: 1);
    }

    /* ---CONTACTO---- */

    .form-contacto #form {
        width: 60%;
    }

    .form-contacto div div {
        width: 80%;
    }

    /* ---INDEX ----*/
    .header-hero p {
        font-size: 2.8em;
    }

    .header-hero nav ul li a {
        font-size: 1.8em;

    }

    .header-hero nav ul li a:hover {
        font-size: 2em;
    }

    /*----MAPA INDEX-----*/
    .seccion-mapa div div {
        width: 15em;
    }

    /* EL JARDIN */
    .atajos-el-jardin div {
        width: 18em;
        height: 20em;

    }

    .atajos-el-jardin div a img {
        margin: 1em;
        width: 9em;
        height: 9em;
    }

    /* ---TALLERES--- */
    .talleres div {
        width: 30em;
        height: 30em;
    }


    .talleres div a h2 {
        text-align: center;
        font-size: 2em;
    }

    .videos-talleres p {
        width: 70%;
        height: 25%;
    }
}

/* Media Queryes para telefonos */
@media screen and (max-width: 576px) {

    /* EL JARDIN */
    .productos div img {
        width: 8em;
    }

    .productos a {
        font-size: nth($list: $font-size, $n: 1);
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: nth($list: $font-size, $n: 1);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-size, $n: 2);
    }

    .header .logo a img {
        width: 9em;
        height: 9em;
    }

    /* ----TIENDA----- */

    .nuestros-destacados>div {
        width: 15em;
        height: 28em;
    }

    .nuestros-destacados h2 {
        font-size: nth($list: $font-size, $n: 1);
    }

}