/* media queries para desktop grande- 1200px */
@media screen and (max-width: 1200px) {

    /* ---INDEX ----*/
    .hero-section h1 {
        font-size: nth($list: $font-size, $n: 1);
    }

    .header-hero nav ul li a {
        font-size: nth($list: $font-size, $n: 3);

    }

    .header-hero nav ul li a:hover {
        font-size: nth($list: $font-size, $n: 4);
    }

    /*----MAPA INDEX-----*/

    .seccion-mapa iframe {
        margin: 1.5em;

    }

    .seccion-mapa iframe div div {
        width: 30em;
    }

    .seccion-mapa div p {
        font-size: nth($list: $font-size, $n: 1);

    }

    /* ----TIENDA----- */
    .nuestros-destacados {
        padding: 0;
    }

    .nuestros-destacados h2 {

        font-size: nth($list: $font-size, $n: 4);
    }

    .nuestros-destacados p {
        font-size: nth($list: $font-size, $n: 3);
    }

    .novedades div img {
        width: 15em;
        height: 18em;
    }

    .novedades h3 {
        font-size: nth($list: $font-size, $n: 4);
    }

    /*---- TALLERES--- */


    .main-talleres .videos-talleres p {

        font-size: nth($list: $font-size, $n: 2);
    }

    .talleres-presenciales table {
        width: 50%;
    }

    /* ----FOOTER---- */
    .footer .logo img {
        width: 13em;
    }

    .footer .logo h3 {
        font-size: 1.8em;
    }

    /* EL JARDIN */
    
    .productos img {
        width: 12em;
        
    }
        img :hover {
            transform: scale(1);
        }
    

    .productos a {
        font-size: 2em;
    }

}


/* Media Queryes para Desktop - 950px */
@media screen and (max-width: 950px) {

    /* MAIN */
    .main-form h2,
    p {
        font-size: 1.7em;
    }

    .footer .logo img {
        margin: 1, 5em 6em;
        width: 15em;
    }

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        margin: 1em;
        font-size: nth($list: $font-family, $n: 4);

    }

    /* MENU NAVEGABLE NO INDEX */
    .header nav ul li a {
        font-size: nth($list: $font-size, $n: 2);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-size, $n: 3);
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 12em;
        height: 12em;
    }

    /* ---INDEX ----*/
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005)), url("https://i.ibb.co/rwSFkGL/fondo-floral-azul-2.png") !important;
    background-repeat: no-repeat;
}
    .hero-section h1 {
        font-size: 1em;
    }

    .hero-section div {
        margin: 0.6em;
        width: 75%;
    }

    .header-hero nav ul li a {
        font-size: nth($list: $font-size, $n: 2);

    }

    .header-hero nav ul li a:hover {
        font-size: nth($list: $font-size, $n: 3);
    }

    /*----MAPA INDEX-----*/

    .seccion-mapa iframe {
        margin: 1.2em;

    }

    .seccion-mapa iframe div div {
        width: 20em;
    }

    .seccion-mapa div p {
        font-size: nth($list: $font-size, $n: 1);

    }

    /* ----TIENDA----- */

    .nuestros-destacados h2 {
        font-size: nth($list: $font-size, $n: 2);
    }

    .nuestros-destacados p {
        font-size: nth($list: $font-size, $n: 2);
    }

    .novedades h3 {
        font-size: nth($list: $font-size, $n: 2);
    }

    /* ---CONTACTO---- */

    .form-contacto #form {
        width: 80%;
    }

    .form-contacto div div {
        width: 70%;
    }

    .main-contacto section .datos-contacto a {
        text-decoration: none;
        font-size: nth($list: $font-size, $n: 1);
    }

    /* EL JARDIN */
    .atajos-el-jardin div {
        width: 8em;


    }

    .productos img {
        width: 10em;
        }

        img :hover {
                transform: scale(0.8);
            }

    

    .productos h2 {
        font-size: nth($list: $font-size, $n: 2);
    }

    .productos a {
        font-size: nth($list: $font-size, $n: 2);
    }


}

/* Media queryes intermedio-(tablets) 768px */
@media screen and (max-width: 768px) {

    /* ---TITULO SECCION--- */
    .titulo-seccion h2 {
        margin: 1em;
        font-size: nth($list: $font-family, $n: 2);
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: nth($list: $font-family, $n: 1);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-family, $n: 2);
    }

    .header .logo a img {
        margin: 2em 0.5em;
        width: 10em;
        height: 10em;
    }

    /* main-contacto */

    .form-contacto input:focus {
        font-size: nth($list: $font-size, $n: 2);
    }

    .form-contacto p {
        font-size: nth($list: $font-size, $n: 3);
    }

    .form-contacto h2 {

        font-size: nth($list: $font-size, $n: 1);
    }

    /* ---CONTACTO---- */

    .form-contacto #form {
        width: 60%;
    }

    .form-contacto div div {
        width: 20%;
    }


    /* EL JARDIN */
    .atajos-el-jardin {
        margin: 0.4em;
        flex-direction: row;
    }
    .atajos-el-jardin div {
        width: 3em;


    }

    .atajos-el-jardin div img {
        margin: 1em 0.6em;
        width: 2em;
        height: 2em;

    }

    /* ---TALLERES--- */


    .talleres div a h2 {
        text-align: center;
        font-size: 2em;
    }

    /* EL JARDIN */


    .productos div img {
        width: 1.8em;
        margin: 1em;
    }

    .productos h2 {
        font-size: nth($list: $font-size, $n: 2);
    }

    .productos a {
        font-size: nth($list: $font-size, $n: 2);
    }

    /* ---INDEX ----*/

    .hero-section div {
        margin: 0.8em;
        width: 80%;
    }

    .header-hero nav ul li a {
        font-size: nth($list: $font-size, $n: 2);

    }

    .header-hero nav ul li a:hover {
        font-size: nth($list: $font-size, $n: 3);
    }

    /*----MAPA INDEX-----*/

    .seccion-mapa iframe {
        margin: 1em;

    }

    .seccion-mapa iframe div div {
        width: 20em;
    }

    .seccion-mapa iframe div p {
        font-size: 0.5em;

    }
}

/* Media Queryes para telefonos */
@media screen and (max-width: 576px) {

    /* ---INDEX ----*/
    .hero-section h1 {
        font-size: 0.5em;
    }

    .hero-section div {
        margin: 0.5em;
        width: 85%;
    }

    .header-hero nav ul li a {
        font-size: nth($list: $font-size, $n: 1);

    }

    .header-hero nav ul li a:hover {
        font-size: nth($list: $font-size, $n: 2);
    }


    /* EL JARDIN */
/* EL JARDIN */
.atajos-el-jardin {
    margin: 0.2em;
}
.atajos-el-jardin div {
    width: 0.2em;

}

.atajos-el-jardin div img {
    margin: 1em 0.6em;
    width: 1em;
    height: 1em;

}
    .productos h2 {
        font-size: nth($list: $font-size, $n: 1);
    }

    .productos a {
        font-size: nth($list: $font-size, $n: 1);
    }

    /* MENU NAVEGABLE NO INDEX */

    .header nav ul li a {
        font-size: nth($list: $font-size, $n: 1);

    }

    .header nav ul li a:hover {
        color: #b758ee;
        font-size: nth($list: $font-size, $n: 2);
    }

    .header .logo a img {
        width: 9em;
    }

    /* ----TIENDA----- */

    .nuestros-destacados h2 {
        font-size: nth($list: $font-size, $n: 1);
    }

}