@import "../base/variables";
@import "../base/mapas";

/**--COMIENZA CLASS PRODUCTOS (el-jardin)--**/
.productos {
    margin: 0.8em;
    background: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.103));

    h2 {
        text-align: center;
        font-size: nth($list: $font-size, $n: 4);
        margin: 2em 0 2em 0;
        font-family: nth($list: $font-family, $n: 2);
        color: black;
        text-shadow: -2px 2px 3px $color-tres;
    }

    div {
        @extend %flex;

        img {
            width: 14em;
            height: 18em;
            border-radius: 1.5em;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            text-decoration: none;
            background-color: $color-cuatro;
            color: whitesmoke;
            font-weight: bolder;
            font-size: nth($list: $font-size, $n: 4);
            text-align: center;
            padding: 0.8em;
            border-radius: 1em;
            margin: 1em 0 1.8em 0;
        }
    }
}