$color-muy-claro: #EAEDEF;
$color-claro: #FEF5ED;
$color-pastel: #D0C9C0;
$color-uno: #EFEAD8;
$color-dos: #D3E4CD;
$color-tres: #ADC2A9;
$color-cuatro: #99A799;
$color-oscuro: #5F7161;
$color-muy-oscuro: #404e42;

